ul.nav li{
    display: inline-block;
    padding-right: 10px;
    background-color: red;
}
a {
  color: white;
}
#about_blue {
  background-color: #6495ED;
   border:3px solid
}

#about_yellow {
  background-color: #FFEBCD;
  border:3px solid

}

.important {
  font-weight: bold;
}

.blue {
  color: blue
}

.yellow {
  color: orange;
}
